@model testApp.Models.Post
@using testApp.Models;
@using testApp.Repositories;
@{
    ViewBag.Title = "AddPost";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
@{
    PostRepository PostRep = new PostRepository();
}
<h2>Add Post to Timeline</h2>
<br />
<form id="form" action="@Url.Action("AddPost", "Post")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>


        <div class="form-group">
            @Html.LabelFor(model => model.Header, new { @class = "control-label" })
            <input type="text" name="Header" id="Header" class="form-control" />
            @Html.ValidationMessageFor(model => model.Header)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Content, new { @class = "control-label" })
            <textarea name="Content" id="Content" class="form-control"></textarea>
            @Html.ValidationMessageFor(model => model.Content)
        </div>
        <div class="form-group">
            <label class="control-label">Category</label>
            @Html.DropDownListFor(x => x.Category, 
            (ViewBag.categories as List<Category>)
            .Select(c => new SelectListItem 
            { 
             Text=c.Name,Value=c.Id.ToString()
            }), new {@class="form-control" }
            )
        </div>
       
        <p>
            <button type="submit" class="btn btn-success" id="submit">Add Post</button>
        </p>
    </fieldset>
</form>
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <form id="videoForm">
                    <div class="form-group">
                        <label class="control-label">Video url</label>
                        <input type="text" name="video" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="videoSubmit" class="btn btn-primary">Add Video</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div>
    @Html.ActionLink("Back to List", "Users")
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

   
    <link href="~/BlogTemplate/summernote/summernote.css" rel="stylesheet" />
    <script src="~/BlogTemplate/summernote/summernote.min.js"></script>
    <script type="text/javascript">
    
        $(document).ready(function () {

            var summernote = $("#Content").summernote();
        });
    </script>
}
